<div class="back">
    <div class="div-center">
        <div class="content">
            <h3>Login</h3>
            <hr />

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input #loginInput type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="userEmail" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password" placeholder="Password">
            </div>
            <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
            <hr />
            <h3 [hidden]="!isLoginSuccessfull">Logged In!</h3>

        </div>
    </div>