.sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    color: white;
}

.list-group {
    width: 15rem;
    .list-group-item {
        &:hover {
            cursor: pointer;
        }
    }
}

.list-group-item {
    color: white;
    &.day-selected {
        background-color: white !important;
        color: black !important;
    }
}