#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.icons-wrapper {
    display: flex;
    justify-content: center;
    >div {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px;
        width: 300px;
        box-shadow: 0 0 2px black;
        background: white;
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 3px black;
            >fa-icon.removeOrder {
                color: darkred;
            }
            >fa-icon.addOrder {
                color: green;
            }
        }
        >fa-icon {
            justify-content: center;
            text-align: center;
            font-size: 50px;
        }
        >h2 {
            text-align: center;
        }
    }
}

.nav-link {
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}