<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Tydzień </div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-light">Poniedziałek</a>
      <a class="list-group-item list-group-item-action bg-light">Wtorek</a>
      <a class="list-group-item list-group-item-action bg-light">Środa</a>
      <a class="list-group-item list-group-item-action bg-light">Czwartek</a>
      <a class="list-group-item list-group-item-action bg-light">Piątek</a>
      <a class="list-group-item list-group-item-action bg-light">Sobota</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="height: 105px">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" (click)="logout()">Wyloguj <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid" style="height: calc(100% - 105px);background: whitesmoke;">
        <div class="row h-50">
            <div class="col-md-12 container-fluid">
                <div class="row  h-100">
                    <div class="offset-md-2 col-md-4" style="box-shadow: 0 0 2px black;" >AA</div>
                    <div class="col-md-4">AB</div>
                </div>
            </div>
        </div>
        <div class="row h-50">
            <div class="col-md-12 h-50">B</div>
        </div>

        
        
    </div>
  </div>


</div>
